<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta charset="utf-8">
        <title>Travel App</title>
    </head>

    <body>

        <header>
            <div class="title">
                weather app
            </div>
        </header>

        <main>
            <section>
                <form class="">
                    <input id="name" type="text" name="input" value="" placeholder="Name" required>
                    <input type="date" id="date" required>
                    <button type="submit" name="" value="submit" id="button">submit</button>
                </form>
            </section>

            <section>
                <strong>Results:</strong>
                <div id="results">
                    <div id="city-name">City: </div>
                    <div id="weather-data">Temperature: </div>
                    <img src="" alt=" " id="city-image" style="width: 300px; height: 270px;">
                </div>

            </section>
        </main>

        <footer>
            <p>This is a footer</p>
        </footer>

        <script>
            // Check that service workers are supported
            if ('serviceWorker' in navigator) {
                // Use the window load event to keep the page load performant
                window.addEventListener('load', () => {
                    navigator.serviceWorker.register('/service-worker.js');
                });
            }
        </script>
        
    </body>
</html>
